
/* 1Stylus grid system config
-------------------------------------------------- */
page_width	= 950
grid_num	= 24
grid_margin	= 10
grid_width	= (page_width + grid_margin) / grid_num - grid_margin

/* Colors
-------------------------------------------------- */
textColor	= #000
textColor2	= false // if not support by a browser (for example rgba in ie6,7,8)

backColor	= #fff
backColor2	= false

pageBackColor = #fff

pagesHeight = 715px //670px