#OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

#Windows
Thumbs.db
Desktop.ini
*.psd
$RECYCLE.BIN/

#SublimeText
*.sublime-project
*.sublime-workspace

#Manager Files
Designs/
*.xmind

#admin panel and uplaod folder
admin/
