/* Fonts
-------------------------------------------------- */
@font-face {
    font-family: 'MyriadProCondRegular';
    src: url('fonts/myriadpro-cond-webfont.eot');
    src: url('fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-cond-webfont.woff') format('woff'),
         url('fonts/myriadpro-cond-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-cond-webfont.svg#MyriadProCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global Section
-------------------------------------------------- */

body {
	background-color : #cccccc;
}

div.lines {
	width		: 900px;
	height		: 720px;
	position	: absolute;
	left		: 0;
	right		: 0;
	bottom		: 0;
	top			: 0;
	margin		: auto;
	z-index		: -4;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter		: alpha(opacity=90);
	opacity		: 0.9;
	background-image: url('images/lines.png');
}


div.background{
	width	:900px;
	height	:720px;
	position:absolute;
	left	:0;
	right	:0;
	bottom	:0;
	top		:0;
	margin	:auto;
	z-index	: -5;
	background-image: url('images/background.jpg');
}

.projects #transparentImg {
	position: absolute;
	z-index	: 10;
	right	: 0;
	top		: 0;
}

.container {
	width	: 900px;
	height	: 720px;
	position: relative;
	margin	: auto;
	-webkit-box-shadow	: 0 3px 10px #000;
	box-shadow			: 0 3px 10px #000;
}


a.logo {
	display	: block;
	width	:315px;
	height	:141px;
	position:absolute;
	left	:60px;
	top		:70px;
	z-index	: 10;
	background :url('images/logo.png') top right no-repeat;
}

.left-col {
	height	:720px;
	width	:140px;
}
.right-col {
	margin-left	:140px;
	height		:720px;
	padding		:1px;
}
nav ul li.active a {
	color			:#333;
	margin-right	:15px;
	letter-spacing	:.7px;
}


/* Menu
-------------------------------------------------- */

.nav {
	width		:140px;
	min-height	:300px;
	margin-top	:220px;
}
.nav ul {
	list-style-type	:none;
	margin-top		:10px;
}

.nav ul li a {
	display			: block;
	padding			: 15px 5px;
	text-decoration	: none;
	font-family		: 'MyriadProCondRegular';
	font-size		: 19px;
	letter-spacing	: -1px;
	color			: #fff;
	text-transform	: uppercase;
	text-align		: right;
	margin-right	: 10px;
	-webkit-transition	: all 400ms ease-in-out;
	-moz-transition		: all 400ms ease-in-out;
	-o-transition		: all 400ms ease-in-out;
	-ms-transition		: all 400ms ease-in-out;
	transition			: all 400ms ease-in-out;
}


.nav ul li a:hover,.nav ul li a.active {
	color			: #444;
	margin-right	: 15px;
	letter-spacing	: .7px;
	-webkit-transition	: all 400ms ease-in-out;
	-moz-transition		: all 400ms ease-in-out;
	-o-transition		: all 400ms ease-in-out;
	-ms-transition		: all 400ms ease-in-out;
	transition			: all 400ms ease-in-out;
}



/* Home
-------------------------------------------------- */


div.right-col div.pics_right {
	width	:760px;
	height	:720px;
	position: relative;
}
div.pics_right section.newhome {
	margin	:0 auto;
	width	:553px;
	height	:510px;
	padding	:210px 0px 0px 0px;
}
section.newhome div.content {
	width	: 553px;
	height	: 505px;
	-webkit-transition	: opacity 300ms;
	-moz-transition		: opacity 300ms;
	-o-transition		: opacity 300ms;
	-ms-transition		: opacity 300ms;
	transition			: opacity 300ms;
}

div.content div.home-slider {
	width	:552px;
	height	:304px;
	position: relative;
}

div.content div.home-slider > div {
	width	:inherit;
	height	:inherit;
	position: absolute;
	top		: 0;
	left	: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body.home section.last_projects {
	position: absolute;
	right: 100px;
	bottom: 36px;
	width: 260px;
	padding-top: 20px;
}

section.last_projects div.last_projectsImg {
	width: 140px;
	height: 230px;
	float: right; 
	position: relative;
}

section.last_projects div.last_projectsImg > div {
	position: absolute;
	top		: 0;
	left	: 0;
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

section.last_projects div.last_projectsDecs {
	margin-right: 158px;
	margin-top: 100px;
	font-family: 'MyriadProCondRegular';
}
section.last_projects div.last_projectsDecs h4 {
	color: white;
	font-size: 17px;
	font-weight: bold;
	text-align: right;
}

section.last_projects div.last_projectsDecs p {
	white-space: pre;
	color: gray;
	font-size: 16px;
	letter-spacing: -1px;
	text-align: right;
	margin-top: 14px;
}

/* icons links
-------------------------------------------------- */

.icon-links {
	position	:absolute;
	left		:141px;
	top			:520px;
	overflow	:hidden;
	width		:80px;
	min-height	:190px;
}
.icon-links ul {
	list-style-type	:none;
	top				:0px;
}
.icon-links ul li {
	margin	:0px auto;
	position:absolute;
	left	:-64px;
}
.icon-links ul li a {
	display			:block;
	text-decoration	:none;
	padding			:3px 0px;
}

div.about div.desc li{
	color		: #555;
	padding-top	:7px;
}

div.about div.desc a {
	color			: #fff;
	text-decoration	: none;
	-webkit-transition	: color 500ms;
	-moz-transition		: color 500ms;
	-o-transition		: color 500ms;
	-ms-transition		: color 500ms;
	transition			: color 500ms;
}


div.about div.desc a:hover {
	color			:#333;
	text-decoration	:none;
}


/* Project
-------------------------------------------------- */


div.top_menu {
	width		:400px;
	height		:100px;
	margin		:100px 0px 0px 307px;
	text-align	:center;
}
div.top_menu div.cols {
	width	:400px;
	height	:100px;
	margin	:0 auto;
}
div.top_menu div.cols > div {
	width		:90px;
	height		:95px;
	float		:left;
	background	:url("images/top_project1.png") no-repeat;
	padding		:0px 7px 0px 0px;
}
div.top_menu div.cols > div div#in {
	margin :40px 0px 40px 0px;
}
div#in a {
	text-decoration	:none;
	font-family		:'MyriadProCondRegular';
	font-size		:14px;
	color			:#fff;
	text-transform	:uppercase;
	margin			:0px 7px 0px 0px;
}
/*div.top_menu div.cols div#bg:hover {
	cursor :pointer;
	background :url("images/top_project2.png") no-repeat;
}*/
div.g1,
div.g2,
div.g3 {
	position:absolute;
	width	:258px;
	height	:351px;
	cursor	:pointer;
	overflow:hidden;
	top		:240px;
}
div.g1 {
	left :145px;
}
div.g2 {
	left :390px;
}
div.g3 {
	left :635px;
}
div.on_g div.bgg-img1,
div.on_g div.bgg-img2,
div.on_g div.bgg-img3 {
	width	:258px;
	height	:351px;
}
div.on_g div.bgg-img1 {
	background-image :url('images/g1.png');
}
div.on_g div.bgg-img2 {
	background-image :url('images/g2.png');
}
div.on_g div.bgg-img3 {
	background-image :url('images/g3.png');
}

body.projects-home div.on_g div.bgg-img1 {
	background-image:url('images/fullscren-images/home/thumb/babak.png');
	background-size	: 100% 100%;
}

body.projects-home div.on_g div.bgg-img2 {
	background-image:url('images/fullscren-images/home/thumb/aboozar.png');
	background-size	: 100% 100%;
}

body.projects-exhibition div.on_g div.bgg-img1 {
	background-image:url('images/fullscren-images/exhibition/thumb/caspian.png');
	background-size	: 100% 100%;
}

body.projects-exhibition div.on_g div.bgg-img2 {
	background-image:url('images/fullscren-images/exhibition/thumb/cheetoz.png');
	background-size	: 100% 100%;
}

div.on_g {
	width	:245px;
	height	:351px;
}
div#Gallery0,div#Gallery01,div#Gallery02 {
	width		: 258px;
	height		: 351px;
	background	: url("images/2box.png") no-repeat;
	position	: absolute;
	top			: 0px;
	left		: 0px;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter		: alpha(opacity=10);
	opacity		: 0.1;
	-webkit-transition	: opacity 600ms ease-in-out;
	-moz-transition		: opacity 600ms ease-in-out;
	-o-transition		: opacity 600ms ease-in-out;
	-ms-transition		: opacity 600ms ease-in-out;
	transition			: opacity 600ms ease-in-out;
}

div.on_g a {
	display			:block;
	font-family		:'MyriadProCondRegular';
	letter-spacing	:-1px;
	text-transform	:uppercase;
	color			:#fff;
	position		:absolute;
	top				:20px;
	text-align		:center;
	text-decoration	:underline;
}
div.on_g a#g1 {
	left		:155px;
	top			:65px;
	font-size	:18px;
}
div.on_g a#g11 {
	top			:260px;
	left		:15px;
	font-size	:22px;
}

section.right-col div.top-arrow {
	position	:absolute;
	top			:180px;
	right		:18px;
	width		:25px;
	height		:14px;
	background	:url('images/dir_up.png') no-repeat;
	cursor		:pointer;
	z-index		: 20;
}
section.right-col div.top-arrow:hover {
	background :url('images/hover_up.png') no-repeat;
}
section.right-col div.bot-arrow {
	position	:absolute;
	top			:590px;
	right		:18px;
	width		:25px;
	height		:14px;
	background	:url('images/dir_down.png') no-repeat;
	cursor		:pointer;
	z-index: 20;
}
section.right-col div.bot-arrow:hover {
	background :url('images/hover_down.png') no-repeat;
}


/* Index
-------------------------------------------------- */

div.prd1,
div.prd2,
div.prd3,
div.prd4{
	width	: 270px;
	height	: 310px;
	position: absolute;
	overflow:hidden;
}

section.product-menu div.prd1 {
	top	: -5px;
	left: 500px;
}
section.product-menu div.prd2 {
	top	: 175px;
	left: 450px;
}
section.product-menu div.prd3 {
	top	: 350px;
	left: 410px;
}
section.product-menu div.prd4 {
	top	: 420px;
	left: 545px;
}

div.rlt div.bg-img1,
div.rlt div.bg-img2,
div.rlt div.bg-img3,
div.rlt div.bg-img4{
	position: absolute;
	top		: 0px;
	left	: 10px;
	width	: 270px;
	height	: 320px;
}

div.rlt div.bg-img1 {
	background-image: url('images/pic1.png');
}
div.rlt div.bg-img2 {
	background-image: url('images/pic2.png');
}
div.rlt div.bg-img3 {
	background-image: url('images/pic3.png');
}
div.rlt div.bg-img4 {
	background-image: url('images/pic4.png');
}

section.prd-hover div.prd1-hover,
section.prd-hover div.prd2-hover,
section.prd-hover div.prd3-hover,
section.prd-hover div.prd4-hover {
	position: absolute;
	width	: 247px;
	height	: 139px;
	cursor	: pointer;
	z-index	: 2;
	-webkit-transform	: skewY(-30deg);
	-moz-transform		: skewY(-30deg);
	-o-transform		: skewY(-30deg);
	-ms-transform		: skewY(-30deg);
	transform			: skewY(-30deg);
}


section.prd-hover div.prd1-hover {
	top		: 90px;
	right	: 130px;
}
section.prd-hover div.prd2-hover {
	top		: 255px;
	right	: 184px;
}
section.prd-hover div.prd3-hover {
	top		: 430px;
	right	: 225px;
}
section.prd-hover div.prd4-hover {
	top		: 500px;
	right	: 90px;
}



.projects .hover-mode > * {
	-webkit-transition	: all 800ms ease-out;
	-moz-transition		: all 800ms ease-out;
	-o-transition		: all 800ms ease-out;
	-ms-transition		: all 800ms ease-out;
	transition			: all 800ms ease-out;
}


.projects .hover-mode.hover > * {
	-webkit-transition	: all 300ms ease-out;
	-moz-transition		: all 300ms ease-out;
	-o-transition		: all 300ms ease-out;
	-ms-transition		: all 300ms ease-out;
	transition			: all 300ms ease-out;
}


.projects .hover-mode .backimg {
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter		: alpha(opacity=60);
	opacity		: 0.6;
}

.projects .hover-mode.hover .backimg {
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter		: alpha(opacity=100);
	opacity		: 1;
}


.projects .hover-mode div.fg-img {
	position	: absolute;
	top			: 26px;
	right		: 20px;
	height		: 192px;
	width		: 137px;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter		: alpha(opacity=90);
	opacity		: 0.9;
	background-image: url('images/fade.png');
}


.projects .hover-mode.hover .fg-img {
	top			: -65px;
	right		: -138px;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter		: alpha(opacity=0);
	opacity		: 0;
}


.projects .hover-mode .title {
	font-family		: 'MyriadProCondRegular';
	font-size		: 25px;
	letter-spacing	: -1px;
	text-transform	: uppercase;
	color			: #fff;
	text-align		: center;
	position	: absolute;
	top			: 114px;
	right		: 20px;
	width		: 137px;
}

.projects .hover-mode.hover .title {
	top			: 30px;
	right		: -138px;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter		: alpha(opacity=0);
	opacity		: 0;
}




/* About Us
-------------------------------------------------- */

section.about-us{
	overflow: hidden;
}

section.about-us section.right-col div.right-inside {
	overflow	: hidden;
	margin-top	:150px;
	height		:560px;
	padding		:1px;
}
section.about-us div.right-inside div.left-side {
	float		:left;
	width		:355px;
	min-height	:190px;
	margin-top	:192px;
	padding		:1px;
}
section.about-us div.right-inside div.right-side {
	margin-left	:390px;
	min-height	:465px;
	padding		:1px;
	margin-top	: 30px;
}
section.about-us div.left-side div.about {
	margin-left :50px;
}
div.about div.line {
	width			:212px;
	height			:14px;
	margin-left		:88px;
	border-bottom	:2px solid #fff;
}
div.about h4 {
	width			:65px;
	font-family		:'MyriadProCondRegular';
	font-size		:19px;
	color			:#444;
	text-transform	:uppercase;
	white-space		:nowrap;
}
div.about div.desc {
	width		:300px;
	min-height	:80px;
	margin-top	:10px;
	color		:#fff;
	font-family	:"lucida sans unicode", "lucida grande", sans-serif;
	font-size	:13px;
	text-align	:justify;
	line-height	:16px;
}

div.aboutPageContainer div.right-side > div {
	width		: 274px;
	height		: 370px;
	display		: block;
	margin-top	: 60px;
	background-repeat: no-repeat;
}

div.do div.left-side {
	float		: none !important;
	min-height	: 0 !important;
	margin-top	: 150px !important;
}

div.do div.line {
	margin-left: 105px;
}

div.do div.right-side {
	margin-left	: 50px !important;
	min-height	: 137px !important;
}

div.whoWeAre div.left-side{
	margin-top: 196px !important;
}

div.whoWeAre div.desc{
	font-size	: 11px !important;
	text-align	: justify !important;
	line-height	: 13px !important;
}

div.right-side div.about-pic{
	background :url('images/about.png') no-repeat;
}
div.right-side div.job-pic{
	background :url('images/what-we-do.png') no-repeat;
}
div.right-side div.who-pic{
	margin-top	: 135px !important;	
	height		: 214px !important;
	background :url('images/who-we-are.png') no-repeat;
}
div.right-side div.do-pic{
	width	: 600px !important;
	height	: 137px !important;
	background :url('images/how-we-do.png') no-repeat;
}

div.right-side div.top-arrow {
	position:absolute;
	top		:180px;
	right	:18px;
	width	:25px;
	height	:14px;
	cursor	:pointer;
	background :url('images/dir_up.png') no-repeat;
}
div.banner div.top-arrow:hover {
	background :url('images/hover_up.png') no-repeat;
}
div.right-side div.top-arrow:hover {
	background :url('images/hover_up.png') no-repeat;
}
div.right-side div.bot-arrow {
	position:absolute;
	top		:590px;
	right	:18px;
	width	:25px;
	height	:14px;
	cursor	:pointer;
	background :url('images/dir_down.png') no-repeat;
}
div.right-side div.bot-arrow:hover {
	background :url('images/hover_down.png') no-repeat;
}


/* Our Customer
-------------------------------------------------- */

body.our-customers div.right-inside{
	overflow :hidden;
}

div.left-side div.customer {
	margin-left :50px;
}

div.right-inside div.customer_title {
	position: absolute;
	top		: 105px;
	left	: 50px;
}

div.customer_title div.line {
	width			:212px;
	height			:14px;
	margin-left		:115px;
	border-bottom	:2px solid #fff;
}

div.customers-pic{
	width		: 301px;
	height		: 456px;
	margin-left	: 360px;
	margin-top	: 36px;
	background-repeat: no-repeat;
}

body.our-customers section.right-col div.right-inside {
	margin-top	:150px;
	height		:560px;
	padding		:1px;
	position	: relative;
}

div.right-inside div.customer_scroll {
	position: relative;
	top		: 1px;
}

div.customer_scroll div.customer_container {
	height: 600px;
}

div.customer_container div.left_panel {
	width		: 300px;
	color		: #fff;
	font-family	: "lucida sans unicode", "lucida grande", sans-serif;
	font-size	: 13px;
	text-align	: justify;
	line-height	: 18px;
	white-space	: pre;
	margin-top	: 280px;
	margin-left	: 50px;
}

div.customer_container div.right_panel {
	background-repeat	: no-repeat;
	width				: 301px;
	height				: 456px;
	margin-left			: 410px;
	margin-top			: 58px;
}

body.our-customers div.right-inside div.left-side {
	float		:left;
	width		:355px;
	margin-top	:105px;
	padding		:1px;
}

body.our-customers section.right-col div.top-arrow {
	top		: 44px;
	right	: 9px;
}

body.our-customers section.right-col div.bot-arrow {
	top		: 490px;
	right	: 9px;
}

div.right-inside h4 {
	width			:65px;
	font-family		:'MyriadProCondRegular';
	font-size		:19px;
	color			:#444;
	text-transform	:uppercase;
	white-space		:nowrap;
}
div.right-inside div.desc {
	width		: 300px;
	margin-top	: 10px;
	color		: #fff;
	font-family	: "lucida sans unicode", "lucida grande", sans-serif;
	font-size	: 13px;
	text-align	: justify;
	line-height	: 18px;
}

div.scroll_customer {

}

div.scroll_customer div.scroll_txt {
	width		: 300px;
	margin-top	: 10px;
	color		: #fff;
	font-family	: "lucida sans unicode", "lucida grande", sans-serif;
	font-size	: 13px;
	text-align	: justify;
	line-height	: 18px;
	float		: left;
}

/* FullScreen
-------------------------------------------------- */

body.fullscreen {
	-webkit-perspective: 0 !important;
	-moz-perspective: 0 !important;
	-o-perspective: 0 !important;
	-ms-perspective: 0 !important;
	perspective: 0 !important;
}

body.fullscreen .loadingContainer,
body.fullscreen .loading{
	display: none !important;
}

section.fullscreen-container {
	position: fixed;
	top		: 0;
	left	: 0;
	right	: 0;
	bottom	: 0;
	z-index	: -2;
}

section.fullscreen-container section.btns ul.info {
	position:absolute;
	width	:90px;
	height	:55px;
	right	:8px;
	top		:11px;
	z-index	:2;
	background-color :transparent;
}

section.btns ul.info li {
	float			:left;
	padding-right	:2px;
}
section.btns nav ul.info li a {
	text-decoration	:none;
	display			:block;
	width			:28px;
	height			:46px;
}

section.btns div.back{
	width		:269px;
	height		:96px;
	position	:absolute;
	left		:-218px;
	top			:292px;
	background	:url('images/back.png') right top no-repeat;
	z-index		: 3;
	cursor		: pointer;
}

section.btns div.next{
	width		:269px;
	height		:98px;
	position	:absolute;
	right		:-217px;
	top			:289px;
	background	:url('images/next.png') left bottom no-repeat;
	z-index		: 3;
	cursor		: pointer;
}

section.fullscreen-container section.fullimg > div {
	position: fixed;
	top		: 0;
	left	: 0;
	right	: 0;
	bottom	: 0;
	z-index	: 1;
	background-position	: center center;
	background-repeat	: no-repeat;
	background-size		: 100% 100%;
	background-size		: cover;
}

section.fullscreen-container section.descriptions {
	width		: 400px;
	height		: 60px;
	position	: absolute;
	left		: 0px;
	bottom		: 20px;
	z-index		: 5;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter		: alpha(opacity=85);
	opacity		: 0.85;
}


section.descriptions > div{
	float: left;
}

section.descriptions div.left-line,
section.descriptions div.right-line {
	width			:75px;
	height			:33px;
	border-bottom	:3px solid #fff;
}

section.descriptions div.prj-name {
	width			:185px;
	height			:43px;
	font-family		:'MyriadProCondRegular';
	font-size		:41px;
	color			:#fff;
	text-transform	:capitalize;
	font-weight		:bolder;
	text-align		:center;
}
section.descriptions div.counter {
	width		:63px;
	height		:60px;
	font-size	:30px;
	color		:#fff;
	text-align	:center;
}

section.top-desc.active{
	top: 0;
}

section.top-desc {
	position: relative;
	left	: 0;
	right	: 0;
	margin	: 0 auto;
	width	: 350px;
	top		: -250px;
	z-index	: 10;
	-webkit-transition	: all 800ms ease-in-out;
	-moz-transition		: all 800ms ease-in-out;
	-o-transition		: all 800ms ease-in-out;
	-ms-transition		: all 800ms ease-in-out;
	transition			: all 800ms ease-in-out;
}


section.top-desc div.desc-content {
	width	: inherit;
	background-image	: url('images/content-line.png');
	background-repeat	: repeat-y;
}

section.top-desc div.desc-content p {
	padding		: 40px 70px 10px;
	text-align	: justify;
	font-family	: "lucida sans unicode", "lucida grande", sans-serif;
	font-size	: 12px;
	line-height	: 1.1;
	color		: #fff;
}

section.top-desc div.desc-bot {
	width		: inherit;
	min-height	: 194px;
	background-image: url('images/content-bot.png');
}

section.top-desc div.close {
	width	: 23px;
	height	: 17px;
	position: absolute;
	bottom	: 100px;
	left	: 72px;
	cursor	: pointer;
	background-image	: url('images/close-but.png');
	-webkit-transition	: all 800ms ease-in-out;
	-moz-transition		: all 800ms ease-in-out;
	-o-transition		: all 800ms ease-in-out;
	-ms-transition		: all 800ms ease-in-out;
	transition			: all 800ms ease-in-out;
}


section.top-desc.active div.close {
	-webkit-transform	: rotate(180deg);
	-moz-transform		: rotate(180deg);
	-o-transform		: rotate(180deg);
	-ms-transform		: rotate(180deg);
	transform			: rotate(180deg);
}


/* Contact us
-------------------------------------------------- */

section.form-holder {
	width		:390px;
	height		:370px;
	margin-top	:235px;
	text-align	:right;
}
section.form-holder form {
	border :0px;
}
section.form-holder form label.label {
	color			:#fff;
	font-family		:'MyriadProCondRegular';
	font-size		:19px;
	letter-spacing	:-1px;
	text-transform	:capitalize;
	margin-right	:8px;
	vertical-align	:top;
}
section.form-holder form input[type=text] {
	margin-bottom	: 9px;
	border			: none;
	width			: 257px;
	height			: 22px;
	padding			: 1px 6px;
	background-color	: transparent;
	background-image	: url('images/contact_inp_back.png');
	background-repeat	: no-repeat;
	-webkit-transition	: all 400ms ease-in-out;
	-moz-transition		: all 400ms ease-in-out;
	-o-transition		: all 400ms ease-in-out;
	-ms-transition		: all 400ms ease-in-out;
	transition			: all 400ms ease-in-out;
}

section.form-holder form textarea {
	background-color: #fff;
	padding			: 5px 7px;
	border			: 0px;
	width			: 254px;
	height			: 160px;
	margin-right	: 5px;
	border-radius	: 4px;
	-webkit-box-shadow	: inset 2px 2px 1px #888;
	box-shadow			: inset 2px 2px 1px #888;
	-webkit-transition	: all 400ms ease-in-out;
	-moz-transition		: all 400ms ease-in-out;
	-o-transition		: all 400ms ease-in-out;
	-ms-transition		: all 400ms ease-in-out;
	transition			: all 400ms ease-in-out;
}

section.form-holder form > div{
	float	: right;
	width	:13px;
	height	: 14px;
	background-image	: url('images/check.png');
	background-position	: 0 30px;
}
section.form-holder form div.ok{
	background-position: 0 0;
}

section.form-holder form div.nok{
	background-position: 0 14px;
}

section.form-holder form input[type=text].nok {
	background-color: #900;
}
section.form-holder form textarea.nok {
	border: 1px solid #900;
}
section.form-holder form input[type=submit] {
	background-color:#fff;
	color			:#444;
	font-family		:'MyriadProCondRegular';
	font-size		:17px;
	letter-spacing	:-1px;
	text-transform	:capitalize;
	width			:70px;
	border			:0px;
	margin-top		:10px;
	margin-right	: 18px;
	cursor			:pointer;
	-webkit-border-radius	:5px;
	-moz-border-radius		:5px;
	-o-border-radius		:5px;
	-ms-border-radius		:5px;
}
section.form-holder form input[type=submit]:active {
	border :1px solid #333;
}

#ifrm {
	width		: 315px;
	height		: 0;
	border		: 0 none;
	margin-left	: 94px;
}

section.info {
	margin-top	:368px;
	margin-left	:447px;
	height		:220px;
	padding		:1px;
}
section.info div.info-pic1 {
	width		:45px;
	height		:40px;
	float		:left;
	background	:url('images/slash.png') no-repeat;
}
section.info div.info-pic2 a {
	display			:block;
	text-decoration	:none;
	width			:175px;
	height			:25px;
	margin-top		:20px;
	margin-left		:40px;
	text-align		:center;
	background		:url('images/employment_form.png') no-repeat;
	color			:#fff;
	font-family		:'MyriadProCondRegular';
	font-size		:18px;
	letter-spacing	:-1px;
	text-transform	:uppercase;
	padding-top		:2px;
}
section.info div.desc {
	margin-left		:50px;
	height			:40px;
	color			:#fff;
	font-family		:"lucida sans unicode", "lucida grande", sans-serif;
	font-size		:15px;
	letter-spacing	:-1px;
	text-justify	:auto;
}
section.info div.desc a {
	color			:#fff;
	text-decoration	:none;
}

div.aboutPageContainer{
	position	:relative;
	top			:-50px;
	padding-top	: 1px;
}

div.overFlowShowDiv{
	margin-top	:60px;
	width		:740px;
	height		:420px;
	/*overflow-y: scroll;*/
}

div.right-side div.banner {
	width		:274px;
	height		:401px;
	position	:relative;
	overflow	:hidden;
	margin-left	:60px;
	margin-top	:50px;
}
div.banner div.scroll {
	position:absolute;
	left	:0px;
	top		:0px;
	width	:274px;
	height	:2000px;
}
div.banner div.scroll > div {
	background-repeat	:no-repeat;
	width				:274px;
	height				:401px;
	display				:block;
}

div.pic1-link{
	background : url('images/pic1_link.png');
}

div.top_menu #transparentImg{
	position: absolute;
	z-index	: 1;
	right	: 0;
	top		: 0;
}
#prdOffice.hover,#prdExhibition.hover,#prdShopping.hover,#prdHome.hover{
	background :url("images/top_project2.png") no-repeat;
}

div.project_pics #transparentGalleryImg{
	position: absolute;
	z-index	: 10;
	right	: 0;
	top		: 200px;
}
#Gallery0.hover,#Gallery01.hover,#Gallery02.hover {
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter		: alpha(opacity=90);
	opacity		: 0.9;
	-webkit-transition	: opacity 600ms ease-in-out;
	-moz-transition		: opacity 600ms ease-in-out;
	-o-transition		: opacity 600ms ease-in-out;
	-ms-transition		: opacity 600ms ease-in-out;
	transition			: opacity 600ms ease-in-out;
}


#transparentImgLast{
	position: absolute;
	z-index	: 10;
	right	: 80px;
	top		: 200px;
}

div.content.hover{

}


/* 3d page loading effect */

body{
	-webkit-perspective	: 1000px;
	-moz-perspective	: 1000px;
	-o-perspective		: 1000px;
	-ms-perspective		: 1000px;
	perspective			: 1000px;
}

body section.loadingContainer,
body section.container {
	background-color	: gray;
	-webkit-transition	: -webkit-transform 1500ms ease-in;
	-moz-transition		: -moz-transform 1500ms ease-in;
	-o-transition		: -o-transform 1500ms ease-in;
	-ms-transition		: -ms-transform 1500ms ease-in;
	transition			: transform 1500ms ease-in;
}


body section.container *{
	-webkit-backface-visibility : hidden;
}

.lt-ie9 .loadingContainer {
	display: none !important;
}

body section.loadingContainer {
	width	: 900px;
	height	: 720px;
	position: absolute;
	left	: 0;
	right	: 0;
	top		: 0;
	bottom	: 0;
	z-index	: 2;
	margin	: auto;
	-webkit-box-shadow		: 0 3px 10px #000;
	box-shadow				: 0 3px 10px #000;
	background-image		: url('images/background.jpg');
	-webkit-background-size	: 100% 100%;
	-moz-background-size	: 100% 100%;
	background-size			: 100% 100%;
	-webkit-transform		: rotateY(180deg) scaleX(-1);
	-moz-transform			: rotateY(180deg) scaleX(-1);
	-o-transform			: rotateY(180deg) scaleX(-1);
	-ms-transform			: rotateY(180deg) scaleX(-1);
	transform				: rotateY(180deg) scaleX(-1);
	-webkit-backface-visibility	: hidden;
	-moz-backface-visibility	: hidden;
	-o-backface-visibility		: hidden;
	-ms-backface-visibility		: hidden;
	backface-visibility			: hidden;
}


body section.container {
	-webkit-transform	: rotateY(0deg);
	-moz-transform		: rotateY(0deg);
	-o-transform		: rotateY(0deg);
	-ms-transform		: rotateY(0deg);
	transform			: rotateY(0deg);
}

body.preload section.loadingContainer {
	-webkit-transform	: rotateY(0deg) scaleX(-1);
	-moz-transform		: rotateY(0deg) scaleX(-1);
	-o-transform		: rotateY(0deg) scaleX(-1);
	-ms-transform		: rotateY(0deg) scaleX(-1);
	transform			: rotateY(0deg) scaleX(-1);
}

body.preload section.container {
	-webkit-transform	: rotateY(-180deg);
	-moz-transform		: rotateY(-180deg);
	-o-transform		: rotateY(-180deg);
	-ms-transform		: rotateY(-180deg);
	transform			: rotateY(-180deg);
}


body.unload section.container {
	
}

/* PRD Pages
-------------------------------------------------- */

section.project{
	overflow: hidden;
}

div.project_pics{
	width	: 736px;
	padding	: 10px;
}

div.project_pics > div {
	position: relative;
	height	: 500px;
}

div.left-panel,
div.center-panel{
	float		: left;
	width		: 240px;
	margin-right: 8px;
}

div.right-panel{
	width		: 240px;
	margin-left	: auto;
}

section.prd {
	position	: absolute;
	left		: 0;
	top			: 35px;
	width		: 240px;
	height		: 330px;
	display		: none;
	-ms-filter	: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter		: alpha(opacity=0);
	opacity		: 0;
	-webkit-transform		: scale(0);
	-moz-transform			: scale(0);
	-o-transform			: scale(0);
	-ms-transform			: scale(0);
	transform				: scale(0);
	-webkit-background-size	: 100% 100%;
	-moz-background-size	: 100% 100%;
	background-size			: 100% 100%;
	background-position		: center center;
	background-repeat		: no-repeat;
}


section.prd h1{
	width		: 118px;
	height		: 150px;
	position	: absolute;
	top			: 0;
	right		: 0;
	line-height	: 150px;
	text-align	: center;
	color		: #fff;
	font-size	: 18px;
	text-transform		: uppercase;
	text-decoration		: underline;
	letter-spacing		: -1px;
	font-family			: 'MyriadProCondRegular';
	background-image	: url('images/prd-top.png');
	background-repeat	: no-repeat;
	background-position	: top right;
}

section.prd h2{
	position: absolute;
	left	: 0;
	bottom	: 0;
	width	: 60px;
	height	: 117px;
	background-image	: url('images/prd-bot.png');
	background-repeat	: no-repeat;
	background-position	: bottom left;
}

section.prd h2 span{
	color		: #fff;
	display		: block;
	font-size	: 21px;
	text-align	: center;
	margin-top	: 35px;
	font-family	: 'MyriadProCondRegular';
	letter-spacing	: -1px;
	text-transform	: uppercase;
	text-decoration	: underline;
}
section.prd .links{
	display: none;
}
section.prd .links.act{
	position: absolute;
	display	: block;
	left	: 0;
	right	: 0;
	bottom	: 0;
	top		: 0;
}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:hidden !important;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width: none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{margin-top:20px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:4px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:4px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:4px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}


/* Loading
-------------------------------------------------- */
/*#loading{
	width	: 277px;
	height	: 709px;
	position: absolute;
	left	: 0;
	top		: 0;
	bottom	: 0;
	right	: 0;
	margin	: auto;
	background-image : url('images/loading-img.gif');
}*/

#circleG {
	position: absolute;
	left	: 0;
	top		: 0;
	bottom	: 0;
	right	: 0;
	margin	: auto;
	width	: 150px;
	height	: 0;
	-webkit-transform	: scale(-0.7,0.7);
	-moz-transform		: scale(-0.7,0.7);
	-o-transform		: scale(-0.7,0.7);
	-ms-transform		: scale(-0.7,0.7);
	transform			: scale(-0.7,0.7);
}


#circleG > div {
	background-color: #000;
	float			: left;
	height			: 32px;
	margin-left		: 17px;
	width			: 32px;
	-ms-filter		: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter			: alpha(opacity=30);
	opacity			: 0.3;
	border-radius	: 21px;
	-webkit-animation-name				: bounce_circleG;
	-moz-animation-name					: bounce_circleG;
	-ms-animation-name					: bounce_circleG;
	-o-animation-name					: bounce_circleG;
	animation-name						: bounce_circleG;
	-webkit-animation-duration			: 1.9500000000000002s;
	-webkit-animation-iteration-count	: infinite;
	-moz-animation-iteration-count		: infinite;
	-ms-animation-iteration-count		: infinite;
	-o-animation-iteration-count		: infinite;
	animation-iteration-count			: infinite;
	-webkit-animation-direction			: linear;
	-moz-animation-duration				: 1.9500000000000002s;
	-moz-animation-direction			: linear;
	-o-animation-duration				: 1.9500000000000002s;
	-o-animation-direction				: linear;
	-ms-animation-duration				: 1.9500000000000002s;
	-ms-animation-direction				: linear;
}


#circleG_1 {
	-webkit-animation-delay	: 0.39s;
	-moz-animation-delay	: 0.39s;
	-ms-animation-delay		: 0.39s;
	-o-animation-delay		: 0.39s;
	animation-delay			: 0.39s;
}

#circleG_2 {
	-webkit-animation-delay	: 0.91s;
	-moz-animation-delay	: 0.91s;
	-ms-animation-delay		: 0.91s;
	-o-animation-delay		: 0.91s;
	animation-delay			: 0.91s;
}


#circleG_3 {
	-webkit-animation-delay	: 1.17s;
	-moz-animation-delay	: 1.17s;
	-ms-animation-delay		: 1.17s;
	-o-animation-delay		: 1.17s;
	animation-delay			: 1.17s;
}


@-webkit-keyframes bounce_circleG{

	0%{
		opacity:0.3
	}

	50%{
		opacity			:1;
		background-color:#fff
	}

	100%{
		opacity:0.3
	}

}

@-moz-keyframes bounce_circleG{
	
	0%{
		opacity:0.3
	}

	50%{
		opacity			:1;
		background-color:#fff
	}

	100%{
		opacity:0.3
	}
}

@-o-keyframes bounce_circleG{
	
	0%{
		opacity:0.3
	}

	50%{
		opacity			:1;
		background-color:#fff
	}

	100%{
		opacity:0.3
	}
}

@-ms-keyframes bounce_circleG{
	
	0%{
		opacity:0.3
	}

	50%{
		opacity			:1;
		background-color:#fff
	}

	100%{
		opacity:0.3
	}
}


section.container-zoom{
	position: relative;
}