/* 
 * Main Stylus file.
 * For compile it, first download node.js installer (ali.md/node.js) and install it
 * Install stylus by run this command: npm install stylus -g
 * And compile style.styl to style.css by run this command (in this project folder): stylus --compress style.styl
 * 
*/

@import 'styles' // name of style folder