	div.pic1 {
	position         : absolute;
	top              : 76px;
	left             : 520px;
	width            : 240px;
	height           : 135px;
	background-color : transparent;
	background       :url('images/test.png');
	background-repeat: no-repeat;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
	
	outline: 1px red solid;
	-webkit-transform: skewY(-30deg);
	-moz-transform: skewY(-30deg);
	-o-transform: skewY(-30deg);
	transform: skewY(-30deg);
	
	/* for dear iE */
	/* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=-0.5773502691896246, M22=1, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=1,
            M12=0,
            M21=-0.5773502691896246,
            M22=1,
            SizingMethod='auto expand');


   /*
    * To make the transform-origin be the middle of
    * the object.    Note: These numbers
    * are approximations.  For more accurate results,
    * use Internet Explorer with this tool.
    */
   

	
	
	}
	