.txl
	text-align left

.txr
	text-align right

.txc
	text-align center

.txj
	text-align justify

.upper, .uppercase
	text-transform uppercase

.lower, .lowercase
	text-transform lowercase

.capital, .capitalize
	text-transform capitalize

.rtl
	direction rtl

.ltr
	direction ltr