div.pic1 {
	position         : absolute;
	top              : 76px;
	left             : 520px;
	width            : 240px;
	height           : 135px;
	background-color : transparent;
	background       :url('images/test.png');
	background-repeat: no-repeat;
	opacity: 0.5;
	-moz-opacity: 0.5;	
	cursor:pointer;
	-webkit-transform: skewY(-30deg);
	-moz-transform: skewY(-30deg);
	-o-transform: skewY(-30deg);
	-ms-transform: skewY(-30deg);
	transform: skewY(-30deg);
}

div.pic1:hover{
	opacity:1;
	-moz-opacity:1;
}
	