
body:lang(en),
body:lang(en-US),
body:lang(en-GB),
body[lang|=en]
	direction ltr
	text-align left
	font-family	'Helvetica Neue', 'Open-Reg', Arial, sans-serif

body:lang(fa),
body:lang(fa-IR),
body[lang|=fa],
body:lang(ar),
body:lang(ar-AE),
body[lang|=ar]
	direction rtl
	text-align right
	font-family	Nazanin, Verdana, Geneva, sans-serif
