/* 
 * Ali.MD - 1reset (part og 1styles)
 *
 * 1reset Combine reset.css normalize and some usefull styles
 *
 * http://ali.md/1styles
 * Copyright (c) 2012 Ali Mihandoost under MIT License.
 * fork me on github.
 */

@import 'reset'

@import 'normalize'

@import 'boilerplate'

@import 'i18n'