// Normalize.styl base on normalize.css with some changes for better 1styling

/* Base
-------------------------------------------------- */
html
	font-family sans-serif // Sets default font family to sans-serif.
	text-size-adjust 100% // Prevents iOS text size adjust after orientation change, without disabling user zoom.
	//-ms-text-size-adjust 100%

html, button, input, select, textarea
	font-family sans-serif // Addresses `font-family` inconsistency between `textarea` and other form elements.

/* HTML5 display definitions
-------------------------------------------------- */

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary
	display block // Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.

audio, canvas, video
	display inline-block // Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
	*display inline // * for ie6only
	*zoom 1

audio:not([controls])
	display none // Prevents modern browsers from displaying `audio` without controls.
	height 0 // Remove excess height in iOS 5 devices.

[hidden]
	display none // Addresses styling for `hidden` attribute not present in IE 8/9.

/* Links
-------------------------------------------------- */

a:focus
	outline thin dotted // Improves readability when focused

a:active,
a:hover
	outline 0

/* Typography
-------------------------------------------------- */

// Addresses font sizes and margins set differently in IE 6/7.
// Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, and Chrome.
h1
	font-size 2em
	margin 0.67em 0

h2
	font-size 1.5em
	margin 0.83em 0

h3
	font-size 1.17em
	margin 1em 0

h4
	font-size 1em
	margin 1.33em 0

h5
	font-size 0.83em
	margin 1.67em 0

h6
	font-size 0.75em
	margin 2.33em 0

abbr[title]
	border-bottom 1px dotted // Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.

b, strong
	font-weight bold // Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.

dfn
	font-style italic // Addresses styling not present in Safari 5 and Chrome.

mark
	// Addresses styling not present in IE 6/7/8/9.
	background #ff0
	color #000

code, kbd, pre, samp
	// Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
	font-family monospace, serif
	_font-family 'courier new', monospace
	font-size 1em

pre
	// Improves readability of pre-formatted text in all browsers.
	white-space pre
	white-space pre-wrap
	word-wrap break-word

p,pre
	margin 1em 0 // Addresses margins set differently in IE 6/7.

q
	quotes "\201C" "\201D" "\2018" "\2019" // Sets consistent quote types.
	// *quotes none // test for ie

blockquote
	margin 1em 40px

small
	font-size 80% // Addresses inconsistent and variable font size in all browsers.

sub, sup
	// Prevents `sub` and `sup` affecting `line-height` in all browsers.
	font-size 75%
	line-height 0
	position relative
	vertical-align baseline

sup
	top -0.5em

sub
	bottom -0.25em

/* Lists
-------------------------------------------------- */

// Addresses margins set differently in IE 6/7.
dl, menu, ol, ul  
	margin 1em 0

dd
	margin 0 0 0 40px

menu, ol, ul
	padding 0 0 0 40px // Addresses paddings set differently in IE 6/7.

nav ul, nav ol
	// Corrects list images handled incorrectly in IE 7.
	list-style none
	list-style-image none

/* Embedded content
-------------------------------------------------- */

img
	border 0 // Removes border when inside `a` element in IE 8/9.
	-ms-interpolation-mode bicubic // Improves image quality when scaled in IE 7.

svg:not(:root)
	overflow hidden // Corrects overflow displayed oddly in IE 9.

/* Figures
-------------------------------------------------- */

figure
	margin 0 // Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.

/* Forms
-------------------------------------------------- */

fieldset
	// Define consistent border, margin, and padding.
	border 1px solid #c0c0c0
	margin 0 2px
	padding 0.35em 0.625em 0.75em

legend
	border 0 // Corrects color not being inherited in IE 6/7/8/9.
	padding 0 // Remove padding so people aren't caught out if they zero out fieldsets.
	white-space normal // Corrects text not wrapping in Firefox 3.
	*margin-left -7px // Corrects alignment displayed oddly in IE 6/7.

button, input,
select, textarea
	font-family inherit // Corrects font family not being inherited in all browsers.
	font-size 100% // Corrects font size not being inherited in all browsers.
	margin 0 // Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
	vertical-align baseline // Improves appearance and consistency in all browsers.
	*vertical-align middle // "" for ie6

button, input
	line-height normal // Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.

button,
html input[type="button"], // Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
input[type="reset"],
input[type="submit"]
	appearance button // Corrects inability to style clickable `input` types in iOS.
	cursor pointer // Improves usability and consistency of cursor style between image-type `input` and others.
	*overflow visible // Removes inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6.

button[disabled],
input[disabled]
	cursor default // Re-set default cursor for disabled elements.

input[type="checkbox"],
input[type="radio"]
	box-sizing border-box // Addresses box sizing set to `content-box` in IE 8/9.
	padding 0 // Removes excess padding in IE 8/9.
	*height 13px // Removes excess padding in IE 7.
		*width 13px
		// Known issue: excess padding remains in IE 6.

input[type="search"]
	appearance textfield // Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
	box-sizing content-box

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
	appearance none // Removes inner padding and search cancel button in Safari 5 and Chrome on OS X.

button::-moz-focus-inner,
input::-moz-focus-inner
	// Removes inner padding and border in Firefox 3+.
	border 0
	padding 0

textarea
	overflow auto // Removes default vertical scrollbar in IE 6/7/8/9.
	vertical-align top // Improves readability and alignment in all browsers.

/* Tables
-------------------------------------------------- */

table
	// Remove most spacing between table cells.
	border-collapse collapse
	border-spacing 0

// I Hate iEeee