div{
	outline:1px red solid;
}

section.container{
	height:500px;
}

section.product-menu div.prd1{
	position:absolute;
	right:10px;
	top:10px;
}

div.rlt div.bg-img{
	position:absolute;
	top:0;
	right:0;
	width:270px;
	height:310px;
	background-image:url(images/pic1.png);
}

div.rlt div.fg-img{
	position:absolute;
	top:47px;
	right:66px;
	background-image:url(images/fade.png);
	height:192px;
	width:137px;
}

section.prd-hover div.prd1-hover{
	position: absolute;
	width: 247px;
	height: 139px;
	top: 89px;
	right: 21px;
	outline: green 2px dashed;
	-webkit-transform: skew(0deg,-30deg);
	cursor:pointer;
	outline:2px red dashed;
}
